body{
  background: url(pp3.jpg);
  background-attachment:  fixed;
}
div{
  background:rgba(240, 128, 128, 0.3);
  background-image: url(Cssim.png);
  background-size:150px 150px;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-position: right bottom;
  background-position: right top;
  background-position: center top;
  background-position: center left;
  background-position: center;
  background-position: right 20px;
  background-position: 50px 20px;
}
p{
  color:aqua
}
  
